<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>你好，世界，这是template的for in 标签练习</title>
</head>
<body>
<t1>你好，世界，这是template的for in 标签练习</t1>

<ul>
    {% for book in Books %}
        <li>{{ book }}</li>
    {% endfor %}
</ul>

<ul>
{% for book in Books reversed %}
    <li>{{ book }}</li>
{% endfor %}
</ul>


<ul>
    {% for key in keys.keys %}
        <li>{{ key }}</li>
    {%  empty %}
        <li>空，无</li>
    {% endfor %}
</ul>

<ul>
    {% for value in keys.values %}
        <li>{{ value }}</li>
    {% endfor %}
</ul>

<ul>
    {% for key, value in keys.items %}
        <li>{{ key }} + {{ value }}</li>
    {% endfor %}
</ul>


<table >
    <thead>
        <tr>
            <td>序号</td>
            <td>书名</td>
            <td>作者</td>
        </tr>
    </thead>
    <tbody>
        {% for Book in Books_Info %}
            <tr>
                <td>{{ forloop.counter }}</td>
                <td>{{ Book.book_name }}</td>
                <td>{{ Book.author }}</td>
            </tr>
        {% endfor %}
    </tbody>
</table>

<p>测试with关键字的使用</p>
{% with a=testwith %}
    <p>{{ a }}</p>
{% endwith %}

<p>-------接下来测试url标签的使用-------</p>
<p><a href="{% url 'movie' %}">跳转到电影首页</a></p>
<p><a href="{% url 'movie_detail' movie_id='2' category_id='2' %}">跳转到电影详情页，采用明传参数的方式</a></p>
<p><a href="{% url 'movie_detail_2' %}?movie_id=2">跳转到电影详情页，采用明传参数的方式</a></p>

<p>-------接下来测试autoescape自动转义标签的使用-------</p>
{#'自动转义标签的使用': "<a href='http://www.baidu.com'>测试网页百度</a>"#}
<p>没有关闭自动转义标签，如下：</p>
{{ 自动转义标签的使用 }}
<p>关闭自动转义标签，如下：</p>
{% autoescape off %}
    {{ 自动转义标签的使用 }}
{% endautoescape %}

<p>-------接下来测试verbatim标签的使用-------</p>
{#'verbatim标签测试': '参数的值为科比'#}
<p>没有使用verbatim标签：如下：</p>
{{ verbatim标签测试 }}
<p>使用verbatim标签，如下：</p>
{% verbatim %}
{{ verbatim标签测试 }}
{% endverbatim %}

<p>-------接下来测试过滤器的使用-------</p>
<p><a href="{% url 'cut_view' %}">cut过滤器的使用</a></p>
<p><a href="{% url 'add_view' %}">add过滤器的使用</a></p>
<p><a href="{% url 'date_view' %}">date过滤器的使用</a></p>
<p><a href="{% url 'default_view' %}">default过滤器的使用</a></p>
</body>

<p>-------接下来HTML中include方法的使用-------</p>
<p><a href="{% url 'includeApp:include_app_index'%}">default过滤器的使用</a></p>
</html>